h1 {color:DodgerBlue; text-align: center;}
article{color:bisque; text-align: center; font-style: italic;}
body {
    background-color: rgba(43, 205, 110, 0.589);
  }
ul {list-style-position:inside; color:rgb(159, 94, 15); text-align: center; font-style: italic;}